@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 5%;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  color: #ff3333;
}

a:hover {
  color: #990000;
}

span {
  margin: 0;
}
